@use "pico";
@use "colors" as *;
@use "colors/utilities";

.top-tracks {
  li {
    list-style: none;
  }
  padding: 0;
}

.top-track {
  display: grid;
  grid-template:
    [box-start] "tagline actions" [box-end] /
    [box-start] 1fr auto [box-end];
}

.top-track > *,
.top-track::before {
  grid-area: box;
}

.discovery {
  place-self: start;
}

.top-track-details {
  place-self: end;
}

.top-track::before {
  content: "";
  position: relative;
  background: black;
  opacity: 0.4;
  z-index: -1;
}

.top-track img {
  position: relative;
  inline-size: 100%;
  height: auto;
  z-index: -2;
}

.discovery {
  background: $red-500;
  padding: 6px;
  color: white;
}

.top-track-details {
  padding: 6px;
  width: 100%;
  color: $grey-50;
}

.scrobbles {
  font-size: 0.75rem;
}

.artist {
  font-size: 0.9rem;
}

.track {
  font-weight: bold;
}
