@use "pico";
@use "colors" as *;

.chart {
  li {
    list-style: none;
  }
  padding: 0;
}

.chart-item {
  display: grid;
  grid-template-areas: "position tag details";
  background: $slate-850;
  grid-template-columns: [box-start] 15% 15% [box-end] auto;
  grid-template-rows: [box-start] auto [box-end];

  .discovery,
  .years-since,
  .position {
    font-size: 0.75rem;
    z-index: 2;
  }

  &::before {
    content: "";
    position: relative;
    background: black;
    opacity: 0.45;
    z-index: 1;
  }

  .discovery,
  .years-since {
    grid-area: tag;
    place-self: end;
    align-self: baseline;
    text-wrap: nowrap;

    .long {
      display: none;
    }

    .short {
      display: inline;
    }
  }

  .name,
  .artist {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  .name {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .artist {
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }
}

.chart-item:first-child {
  display: grid;
  background: none;

  grid-template:
    [box-start] "position tag" "details details" [box-end] /
    [box-start] 1fr auto [box-end];

  .discovery,
  .years-since,
  .position {
    font-size: 1rem;
  }

  .discovery,
  .years-since {
    place-self: baseline;

    .long {
      display: inline;
    }

    .short {
      display: none;
    }
  }

  &::before {
    z-index: -1;
  }

  img {
    z-index: -2;
  }
}

.chart-item > *,
.chart-item::before {
  grid-area: box;
}

.chart-item {
  .discovery {
    background: $red-550;
    padding: 6px;
    color: $grey-50;
  }

  .years-since {
    background: $amber-300;
    padding: 6px;
    color: $grey-50;
  }

  .position {
    grid-area: position;
    place-self: start;

    background: $azure-550;
    padding: 6px;
    color: white;

    .artist-chart & {
      background: $amber-350;
    }

    .album-chart & {
      background: $green-550;
    }

    .love-chart & {
      background: $pink-350;
    }

    .rediscoveries-chart & {
      background: $violet-600;
    }
  }

  .scrobbles {
    font-size: 85%;
  }

  .artist {
    font-size: 90%;
  }

  .name {
    font-weight: bold;
  }
}

.chart-item-details {
  grid-area: details;
  place-self: end;
  font-size: 90%;
}

.chart-item img {
  position: relative;
  inline-size: 100%;
  height: auto;
}

.chart-item-details {
  padding: 6px 12px;
  width: 100%;
  color: $grey-50;
}
