@use "pico";
@use "colors" as *;

.chart {
  li {
    list-style: none;
  }
  padding: 0;
}

.chart-item {
  display: grid;
  grid-template:
    [box-start] "position tag" "details details" [box-end] /
    [box-start] 1fr auto [box-end];
}

.chart-item > *,
.chart-item::before {
  grid-area: box;
}

.chart-item {
  .discovery {
    grid-area: tag;
    place-self: end;

    background: $red-500;
    padding: 6px;
    color: $grey-50;
  }

  .position {
    grid-area: position;
    place-self: start;

    background: $azure-500;
    padding: 6px;
    color: white;

    .love-chart & {
      background: $pink-350;
    }
  }

  .scrobbles {
    font-size: 0.75rem;
  }

  .artist {
    font-size: 0.9rem;
  }

  .name {
    font-weight: bold;
  }
}

.chart-item-details {
  place-self: end;
}

.chart-item::before {
  content: "";
  position: relative;
  background: black;
  opacity: 0.45;
  z-index: -1;
}

.chart-item img {
  position: relative;
  inline-size: 100%;
  height: auto;
  z-index: -2;
}

.chart-item-details {
  padding: 6px;
  width: 100%;
  color: $grey-50;
}
